body {
    background-color: #e5e5e5;
}

section div {
    /*float: right;*/
}
span {
    display: inline-block;
}

img {
    position: absolute;
    left: 600px;
    width: 150px;
    height: 150px;
    border: 5px solid #FFF;
    box-shadow: 2px 2px 2px #000;
    transform: rotate(-4deg);
    -webkit-transform: rotate(-4deg);
    -moz-transform: rotate(-4deg);
    -o-transform: rotate(-4deg);
}

div:nth-child(1) {
    display: inline-block !important;
}

div:nth-child(3) {
    display: inline-block;
    position: absolute;
    left: 130px;
}

.section {
    padding-bottom: 90px;
}

#summary {
    width: 500px;
}

.hl {
    display: inline-block !important;
    position: absolute;
    width: 1px;
    height: 80px;
    left: 100px;
    background-color: #000;
    border: 1px solid #000;
}